html,body{
    margin: 0;
}
a{
   text-decoration: none;
 }
.menu{
    width: 100%;
    background-color: rgba(5,20,13,0.14);
    display: flex;
    justify-content: center;
    /*text-align: center;*/

}
.menu a{
    width: 10%;
    margin: 10px 15px 10px 15px;
}
.menu a menu{
    padding: 10px;
    text-align: center;
    justify-content: center;
    margin: 0;
    font-size: 20px;
    color: azure;
}
