* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0;
}

#file-list {
    width: 70%;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    list-style: none;
    /* 去掉 li 的黑点 */
    display: flex;
    /* 将列表项水平分布 */
    flex-wrap: wrap;
    /* 处理多行情况 */
    /* justify-content: space-between; */
    /* 左右分布 */
}

#file-list div {
    width: 100%;
    /* 控制每个列表项的宽度 */
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#file-list li a {
    text-decoration: none;
    color: #333;
}

#file-list li a:hover {
    color: #007bff;
}