body{
    background-color: #1221;
    color: #333333;
}
h1{
    justify-content: center;
    text-align: center;
    font-size:90px;
}
ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
.count{
    font-size: 10px;
    color: #363;
}
li.file {
    width: 25%;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #0303;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5%;
}

li.file div:first-of-type {
    font-size: 22px;
    margin-right: 10px;
}

li.file > div:nth-child(2) a {
    color: #333;
    text-decoration: none;
    font-size: 40px;
}

li.file div:last-of-type {
    font-size: 16px;
}

@media (max-width: 767px) {
    li.file {
        width: 100%;
        margin-right: 0;
    }
}